# Chapter 16: DataFrames

In [3]:
df = {
    'index':[0,1,2],
    'cols':[
        {'name':'growth',
        'data':[0.5, 0.7, 1.2]},
        {'name': 'Name',
        'data':['Paul', 'George', 'Ringo']}
    ]
}

In [4]:
df

{'index': [0, 1, 2],
 'cols': [{'name': 'growth', 'data': [0.5, 0.7, 1.2]},
  {'name': 'Name', 'data': ['Paul', 'George', 'Ringo']}]}

In [7]:
def get_row(df, idx):
    results = []
    value_idx = df['index'].index(idx)
    for col in df['cols']:
        results.append(col['data'][value_idx])
    return results

## 16.3 DataFrames

In [11]:
import pandas as pd

In [12]:
df = pd.DataFrame({
    'growth': [0.5, 0.7, 1.2],
    'Name': ['Paul', 'George', 'Ringo']
})

In [13]:
df

   growth    Name
0     0.5    Paul
1     0.7  George
2     1.2   Ringo

In [14]:
df.iloc[2]

growth      1.2
Name      Ringo
Name: 2, dtype: object

In [15]:
df['Name']

0      Paul
1    George
2     Ringo
Name: Name, dtype: object

- Any operation that can be done to a series can be applied to a column

In [17]:
df['Name'].str.lower()

0      paul
1    george
2     ringo
Name: Name, dtype: object

## 16.4 Construction

Dataframes can be created from many types of inputs
- columns (dicts of lists)
- rows(list of dicts)
- CSV files (pd.read_csv)
- NumPy ndarrays
- other: SQL, HDF5, arrow etc

In [20]:
# creating a dataframe from rows
pd.DataFrame([
    {'growth':0.5, 'Name':'Paul'},
    {'growth':0.7, 'Name':'Geroge'},
    {'growth':1.2, 'Name':'Ringo'}
])

   growth    Name
0     0.5    Paul
1     0.7  Geroge
2     1.2   Ringo

- After parsing the CSV file, pandas makes a best-effort to give a type to each column
- Best effort means it will convert numerics to int64 if the columns is whole numbers and not missing values
- other numeric columns are converted to float64 if they have decimals or are missing values
- If there are non-numeric values, pandas will use the object type

## 16.5 DataFrame Axis

A Dataframe has two axis unlike series
- 0: index/row axis
- 1: columns axis

In [23]:
df

   growth    Name
0     0.5    Paul
1     0.7  George
2     1.2   Ringo

In [22]:
df.sum(axis=0)

growth                2.4
Name      PaulGeorgeRingo
dtype: object

In [25]:
df.sum(axis='index')

growth                2.4
Name      PaulGeorgeRingo
dtype: object

In [26]:
df.sum(axis='columns')

C:\Users\Joanna\AppData\Local\Temp\ipykernel_21392\4283019124.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.sum(axis='columns')

0    0.5
1    0.7
2    1.2
dtype: float64